@charset "utf-8";
/* CSS Document */
.order_feedback .form-type-select, input {
display:table-cell;
  padding: 15px;
   display:inline-block;

}
.order_feedback .form-type-textfield, input{
  display:table-cell;
  padding: 15px;
   display:inline-block;

}

.order_feedback .form-submit{
 /* padding:15px;
  display:inline;
 display:table-cell;*/
 padding: 10px;
 width:20%;


}
.order_feedback .readonly-input { background: none repeat scroll 0 0 #EAEAEA; }

.order_feedback .form-type-radio, input{
	padding30px;
   
	
}
.order_feedback .form-item label.option 
{
	 margin-right:50px;
}